html {
  margin: 0;
  padding: 0;
  font-size: 67.5%;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: pink;
}
.gallery-parent {
  margin: 0 auto;
  width: 60rem;
  height: 40rem;
}
.gallery {
  position: relative;
}
.h-photo {
  height: 20rem;
  position: absolute;
  transition: all 0.1s;
  outline-offset: 0.5rem;
}
.photo-1 {
  top: 20rem;
  left: 0;
}
.photo-2 {
  top: 0;
  left: 20rem;
}
.photo-3 {
  top: 3rem;
  left: 10rem;
}
.h-photo:hover {
  transform: scale(1.3);
  outline: 1rem solid black;
  z-index: 2;
}

.gallery:hover .h-photo:not(:hover) {
  transform: scale(0.5);
  opacity: 0.5;
  transition: all 0.2s;
}
.rot-photo:hover {
  transform: rotate(270deg);
  outline: 1rem solid black;
  z-index: 2;

  outline-offset: 0.5rem;
  transition: all 0.2s;
}
.gallery:hover .rot-photo:not(:hover) {
  transform: scale(0.5);
  opacity: 0.5;
  transition: all 0.2s;
}
.gallery-parent2 {
  background-image: url(gay.png);
}
.trans-photo {
}
.ref-photo:hover {
  filter: invert(0.4);
  outline: 1rem solid black;
  z-index: 2;

  outline-offset: 0.5rem;
  transition: all 0.2s;
}
.gallery:hover .ref-photo:not(:hover) {
  transform: scale(0.5);
  opacity: 0.5;
  transition: all 0.2s;
}

.gallery-parent {
  margin: 0 auto;
  width: 60rem;
  height: 80rem;
}
.word {
  position: absolute;
  font-size: 3rem;
  left: 30rem;
  top: 10rem;
  filter: opacity(0);
  
}